@model List<EduConnect.DTOs.TutorDto>
<body>
	<section>
<table class="table">
    <thead>
        <tr>
            @*<th>
                SerialNumber
            </th>*@
            <th>
                Name
            </th>
               <th>
                Details 
            </th>
             <th>
                Choose 
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tutor in Model)
        {
            <tr>
                @*<th>
                    @admin.SerialNumber
                </th>*@
                <th>
                    @tutor.FirstName
                </th>
                 <td>
                <a asp-action="DetailsByAdmin" asp-route-id="@tutor.Id">Details</a>
             </td>
               <td>
                <button class="btn-choose" id="@tutor.Id">Choose</button>
             </td>
              
            </tr>
        }
         
    </tbody>
</table>
    <div class="btn btn-primary">
    <a asp-controller="User" asp-action="RedirectToDashBoard" style="color:white">Back to DashBoard</a>
     </div>
</section>
            <div class="form-group" id="div-container">
                <button class="btn btn-primary">Proceed with Registration</button>
            </div>
        
               <script src="~/js/tutor.js" asp-append-version="true"></script>
</body>
