@model List<EduConnect.DTOs.TutorDto>
<section>
<table class="table">
    <thead>
        <tr>
            @*<th>
                SerialNumber
            </th>*@
            <th>
                Qualification
            </th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var tutor in Model)
        {
            <tr>
                @*<th>
                    @admin.SerialNumber
                </th>*@
                <th>
                    @tutor.FirstName
                </th>
              
            </tr>
        }
    </tbody>
</table>

</section>
    <div class="btn btn-primary">
    <a asp-controller="User" asp-action="RedirectToDashBoard" style="color:white">Back to DashBoard</a>
     </div>