@{
    ViewData["Title"] = "Landing Page";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";

}
<div class="mt-10">
     <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Learning Today,<br>Leading Tomorrow</h1>
      <a asp-action="SignIn" asp-controller="User" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End Hero -->
</div>