@model EduConnect.DTOs.RoleDto

<section id="main-content">
    <section class="wrapper">
        <div style="font-size: 130%;">
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    ID:
                </dt>
                <dd class="col-sm-10">
                    @Model.Id
                </dd>
                <dt class="col-sm-2">
                    NAME:
                </dt>
                <dd class="col-sm-10">
                    @Model.Name
                </dd>
                 <dt class="col-sm-2">
                    Description:
                </dt>
                <dd class="col-sm-10">
                    @Model.Description
                </dd>
                
               
            </dl>
            
           <div class="btn btn-primary">
                <a style="color:white;" asp-controller="Role" asp-action="Index">Back to list</a>
            </div>
                <div class="btn btn-primary">
    <a asp-controller="User" asp-action="RedirectToDashBoard" style="color:white">Back to DashBoard</a>
     </div>
        </div>
    </section>
</section>
 
